<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!!!
  </h1>
  <app-test></app-test>
  <!-- <app-list-employees></app-list-employees> -->
  <!-- <app-address-data></app-address-data> -->
</div>
<!-- Two way Data Binding we need to import FormsModule for ngModel To be used  -->
<!-- <input type="text" [(ngModel)]="inputText"> 
{{inputText}} -->
<!-- <app-employee-details></app-employee-details>
<app-list-employees></app-list-employees>
<app-students></app-students> -->
<!-- <app-create-empoyee></app-create-empoyee> -->
<!-- <app-reactiveform></app-reactiveform> -->
<app-simple-reactive-form></app-simple-reactive-form>